.searchBox {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.searchBox input {
  color: white;
  width: 100%;
  width: none;
  outline: none;
  padding: 15px 20px;
  border: 1px solid grey;
  font-size: 1.4rem;
  border-radius: 50px;
  background-color: #2f2f3d;
}

.searchBox input::placeholder {
  color: #838992;
}

.searchBox input:focus {
  outline: 1px solid white;
}

.searchSuggestionBox {
  width: 100%;
  max-width: 500px;
  background-color: #242825;
  position: fixed;
  margin-top: 20px;
  background-color: #2e2e3c;
}

.suggestion {
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: rgba(0, 0, 0, 0.5);
}